<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<p><h1>Team Name: <%=@team[:name]%></h1></p>
<p><h1>Team Motto: <%=@team[:motto]%></h1></p>
<p><h1>Hero 1</p>
<p><h1>Hero Name: <%=@members[0][:name]%></h1></p>
<p><h1>Hero power: <%=@members[0][:power]%></h1></p>
<p><h1>Hero biography: <%=@members[0][:bio]%></h1></p>

<p><h1>Hero 2</p>
<p><h1>Hero Name: <%=@members[1][:name]%></h1></p>
<p><h1>Hero power: <%=@members[1][:power]%></h1></p>
<p><h1>Hero biography: <%=@members[1][:bio]%></h1></p>
<p><h1>Hero 3</p>
<p><h1>Hero Name: <%=@members[2][:name]%></h1></p>
<p><h1>Hero power: <%=@members[2][:power]%></h1></p>
<p><h1>Hero biography: <%=@members[2][:bio]%></h1></p>
</body>
</html>
